<app-header [goBack]="true"></app-header>

<ion-content>
  <div class="header-search">
    <div class="center">
      <button class="success" (click)="setCreatePlaylist()">Create new</button>
    </div>

    <form [formGroup]="searchPlaylistForm">
      <div class="new-playlist">
        <ion-item [ngStyle]="{ 'border-radius': '30px' }">
          <ion-icon name="search-outline"></ion-icon>
          <ion-input
            placeholder="Search"
            clearInput
            [formControl]="$any(searchPlaylistForm).controls['name']"
          ></ion-input>
        </ion-item>
      </div>
    </form>
  </div>
  <div *ngFor="let playlist of playlists" (click)="addSongToPlaylist(playlist)">
    <div class="track-container" expand="block">
      <div class="track-detail" (click)="addTrackToPlaylist(playlist)">
        <img [src]="playlist?.images[0]?.url" alt="Track background image" />
        <div class="track-item">
          <ion-label>{{ playlist?.name }}</ion-label>
          <div class="inline">
            <div class="lyrics">
              <span>Author:</span>
            </div>
            <p class="owner">{{ playlist.owner.display_name }}</p>
          </div>
        </div>
      </div>
      <ion-icon size="large" id="open-modal+{{ playlist }}"></ion-icon>
    </div>
  </div>
</ion-content>
