<div class="iphone">
  <app-status-bar></app-status-bar>
  <div *ngIf="isAuthenticated(); then authenticated else guest"></div>

  <ng-template #guest>
    <div class="intro-header ion-justify-content-center ion-align-items-center">
      <h1 class="ml4">Dance Vibes</h1>

      <div class="buttons">
        <div class="center height">
          <button (click)="login()" ion-button class="primary">Login</button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #authenticated>
    <app-home [ngStyle]="{'height': '100%', 'width': '100%'}"></app-home>
  </ng-template>
  <app-home-button></app-home-button>
</div>
