<app-header [goBack]="true"></app-header>

<div
  class="hero"
  [ngStyle]="{
    background:
      'linear-gradient(
      to top,
      #240712,
      #300a18,
      #3e0a1e,
      #4c0824,
      #5a0529
    )'
  }"
>
  <div class="image-hero">
    <img [src]="showImage()" alt="Playlist image" />
  </div>

  <div class="hero-heading">
    <div class="hero-text">
      <p>{{ heroSectionData?.description | description }}</p>
      <p>
        <span
          >Made {{ heroSectionData?.description ? "for" : "by" }} the user:
        </span>
        <span> {{ getUsername() }}</span>
      </p>
    </div>

    <ion-icon
      class="icon-size"
      name="heart-outline"
      size="large"
      [ngClass]="alreadyLiked ? 'liked' : ''"
      (click)="likePlaylist()"
    ></ion-icon>
  </div>
</div>
