.hero {
  position: relative;
  padding-top: 65px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .image-hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      height: 215px;
      border-radius: 10px;
      object-fit: cover;
      width: 60%;
    }
  }

  .hero-heading {
    width: 100%;
    color: #fff;
    z-index: 1;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .hero-text {
      width: 100%;
    }

    .playButton {
      height: 50px;
      width: 50px;
    }

    p {
      width: 95%;
      font-family: "Varela Round", sans-serif;
      font-size: 11px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;

      &:nth-child(1) {
        text-decoration: underline;
      }

      span {
        font-size: 13px;

        &:nth-child(1) {
          font-size: 12px;
          opacity: 0.5;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}
