ion-card {
  margin: 0;
  background: #240712;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 1), -1px -1px 1px rgba(68, 73, 85, 0.7);

  .header-card {
    width: 100%;
    display: flex;
    align-items: center;

    p {
      width: 100%;
      font-family: "Varela Round", sans-serif;
      font-size: 12px;
      letter-spacing: 0.5px;
      color: #fff;
      padding: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: start;
      line-height: 1.5em;
      overflow: hidden;
    }

    img {
      max-width: 100%;
      border: 0;
      object-fit: cover;
      height: 100%;
    }
  }
}
