img {
  width: 80px;
}

.track-container {
  display: flex;
  overflow: hidden;
  padding: 10px 20px;

  ion-icon {
    position: absolute;
    top: 30%;
    right: 20px;
  }

  ion-badge {
    position: absolute;
    top: 0px;
    left: 10px;
    background: #121429;
    border-radius: 0;
    font-family: "Libre Franklin", sans-serif;
    font-size: 12px;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  img {
    border-radius: 5px;
    width: 70px;
    height: 54px;
    object-fit: cover;
  }

  .track-detail {
    display: flex;
    flex-direction: row;
    width: 100%;

    .track-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      position: relative;
      padding: 0 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      ion-label {
        color: #fff;
        font-size: 12px;
        letter-spacing: -0.3px;
        letter-spacing: 1px;
        font-family: "Varela Round", sans-serif;
      }

      .inline {
        display: flex;
        flex-direction: row;
        margin-top: 8px;

        .lyrics {
          background: #2b99ff;
          width: 32px;
          height: 12px;
          border-radius: 2px;
          position: relative;

          span {
            font-size: 7px;
            font-family: "Varela Round", sans-serif;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            position: absolute;
            top: 2px;
            left: 3px;
          }
        }

        p {
          font-family: "Varela Round", sans-serif;
          font-size: 10px;
          color: #fff;
          margin: 0 0 0 10px;
        }
      }
    }
  }
}

ion-icon {
  height: 28px;
  width: 26px;
  transition: all 0.2s ease;
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-title {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Libre Franklin", sans-serif;
}

img {
  border-radius: 10px;
  width: 100%;
}
