<ion-list>
  <div class="track-container" expand="block">
    <div
      class="track-detail"
      (click)="trackItem.playing ? pauseSong(trackItem) : playSong(trackItem)"
    >
      <img
        [src]="trackItem.album?.images[0]?.url"
        alt="Track background image"
      />
      <div class="track-item">
        <ion-label [ngClass]="trackItem.playing ? 'play' : 'pause'">{{
          trackItem?.name
        }}</ion-label>
        <div class="inline">
          <div class="lyrics">
            <span>lyrics</span>
          </div>
          <p class="artists">{{ getTrackArtists() }}</p>
        </div>
      </div>
    </div>
    <ion-icon
      name="ellipsis-vertical-outline"
      id="open-modal+{{ trackItem?.uid }}"
    ></ion-icon>
  </div>
</ion-list>

<ion-modal trigger="open-modal+{{ trackItem?.uid }}">
  <ng-template>
    <ion-header>
      <div class="header">
        <ion-toolbar>
          <ion-buttons
            slot="end"
            [ngStyle]="{ position: 'absolute', top: '15px', right: '5%' }"
          >
            <ion-icon
              (click)="close()"
              name="close-outline"
              size="large"
            ></ion-icon>
          </ion-buttons>
          <ion-title></ion-title>
        </ion-toolbar>
      </div>
    </ion-header>
    <app-track-detail
      [trackItem]="trackItem"
      [ngStyle]="{ height: '100%' }"
    ></app-track-detail>
  </ng-template>
</ion-modal>
