<ion-list>
  <div
    class="track-container"
    id="open-modal+{{ trackItem?.uid }}"
    expand="block"
  >
    <span class="number">
      {{ trackItem?.uid }}
    </span>

    <img [src]="trackItem.album?.images[0]?.url" alt="Track background image" />
    <div class="track-item">
      <ion-label>{{ trackItem?.name }}</ion-label>
      <p>{{ convertMsToMinutesSeconds(trackItem?.duration_ms) }}</p>
      <ion-icon name="caret-forward-outline" size="large"></ion-icon>
    </div>
  </div>
</ion-list>

<ion-modal trigger="open-modal+{{ trackItem?.uid }}">
  <ng-template>
    <ion-header>
      <div class="header">
        <ion-toolbar>
          <ion-title>{{ trackItem?.name }}</ion-title>
          <ion-buttons slot="end">
            <ion-icon
              (click)="close()"
              name="close-outline"
              size="large"
            ></ion-icon>
          </ion-buttons>
          <ion-title></ion-title>
        </ion-toolbar>
      </div>
    </ion-header>
    <app-track-detail
      [trackItem]="trackItem"
      [ngStyle]="{ height: '100%' }"
    ></app-track-detail>
  </ng-template>
</ion-modal>
