.buttons {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;

  .margin-top {
    margin-top: 2px;
  }

  .margin-right {
    margin-right: 15px;
  }
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.ml4 {
  .letters {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 25%;
    right: 0;
    opacity: 0;
    text-align: center;
  }
}

h1 {
  font-family: "Courgette", cursive;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 3px;
  margin: 0;
}
