<!--<ion-segment
  swipe-gesture
  (ionChange)="segmentChanged($event)"
  value="features"
  [ngStyle]="{ margin: '20px 0' }"
>
  <ion-segment-button value="features">
    <span class="segment-text">Features</span>
  </ion-segment-button>
  <ion-segment-button value="new-releases">
    <span class="segment-text">New Releases</span>
  </ion-segment-button>
  <ion-segment-button value="categories">
    <span class="segment-text">Categories</span>
  </ion-segment-button>
</ion-segment>

<swiper [slidesPerView]="3" [spaceBetween]="6">
  <ng-template swiperSlide *ngFor="let playlist of playlists | async">
    <app-playlist-item
      [playlistItem]="playlist"
      [ngStyle]="{
        width: '100%',
        'margin-right': '20px',
        height: '100%'
      }"
    ></app-playlist-item>
  </ng-template>
</swiper>-->

<swiper [slidesPerView]="2" [spaceBetween]="6">
  <ng-template swiperSlide *ngFor="let playlist of playlists | async">
    <app-playlist-item
      [playlistItem]="playlist"
      (click)="onSelect(playlist)"
      [ngStyle]="{
        width: '100%',
        'margin-right': '20px',
        height: '100%'
      }"
    ></app-playlist-item>
  </ng-template>
</swiper>
