:host ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}

.detail-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  ion-title {
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    height: 30px;
    width: 95%;
    padding: 20px;
    text-align: center;
  }

  img {
    border-radius: 10px;
    width: 70%;
    height: 215px;
    object-fit: cover;
  }
}

.track-action {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;

  &:hover {
    cursor: pointer;
  }

  .disabled {
    opacity: 0.3;
  }

  ion-icon {
    width: 30px;
    height: 28px;
  }

  p {
    transition: all 0.3s ease;
    font-size: 16px;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    padding: 0;
    margin: 0 0 0 20px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

code {
  white-space: pre-wrap;
}

.action-sheet-title.action-sheet-has-sub-title.sc-ion-action-sheet-ios {
  background: #3a0018;
}
