<ion-content class="ion-padding">
  <div class="detail-header">
    <img [src]="trackItem.album.images[0].url" alt="" />
    <ion-title>{{ trackItem?.name }}</ion-title>
  </div>

  <ion-row>
    <ion-col size="12">
      <div
        class="track-action"
        (click)="trackItem.liked ? dislikeSong() : likeSong()"
      >
        <ion-icon
          name="heart-outline"
          [ngClass]="alreadyLiked ? 'liked' : ''"
        ></ion-icon>
        <p [ngClass]="alreadyLiked ? 'liked' : ''">
          {{ alreadyLiked ? "Liked" : "Like" }}
        </p>
      </div>

      <div class="track-action">
        <ion-icon name="ban-outline" class="disabled"></ion-icon>
        <p class="disabled">Hide this song</p>
      </div>

      <div
        class="track-action"
        [routerLink]="
          description.description !== ''
            ? ['/owned-playlist']
            : ['/playlists', id]
        "
        (click)="close()"
      >
        <ion-icon
          name="musical-notes-outline"
          [ngClass]="description.description !== '' ? '' : 'disabled'"
        ></ion-icon>
        <p [ngClass]="description.description !== '' ? '' : 'disabled'">
          Add to the Playlist
        </p>
      </div>

      <div class="track-action" (click)="presentActionAuthor()">
        <ion-icon name="albums-outline"></ion-icon>
        <p>Show Album</p>
        <div class="container">
          <code *ngIf="result"> {{ result }} </code>
        </div>
      </div>

      <div class="track-action" (click)="presentActionArtists()">
        <ion-icon name="people-outline"></ion-icon>
        <p>Show Artists</p>
        <div class="container">
          <code *ngIf="result"> {{ result }} </code>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
