ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
}

ion-title {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Libre Franklin", sans-serif;
}

img {
  border-radius: 10px;
  width: 100%;
}

h5 {
  font-size: 16px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

p {
  font-size: 12px;
  font-family: "Libre Franklin", sans-serif;
  letter-spacing: 1px;
}
