ion-grid {
  padding: 0 15px;

  ion-col {
    width: 170px;
    padding-top: 0px;
    padding-bottom: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}

swiper {
  display: flex;
  height: 38vh;
  padding: 0 20px;
  align-items: center;
}

.swiper-slide {
  margin-right: 0;
}
