<app-mini-header
  [title]="'Good evening'"
  [showOptions]="true"
></app-mini-header>

<ion-grid>
  <ion-row>
    <ng-container *ngFor="let playlist of playlists | async | slice: 0:6">
      <ion-col size="6">
        <app-playlist-item
          [height]="'55px'"
          [playlistItem]="playlist"
          (click)="onSelect(playlist)"
        ></app-playlist-item>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-grid>

<app-mini-header [title]="'Recommended'"></app-mini-header>

<app-recommended-playlist
  [newReleasedPlaylists]="releasedPlaylists | async"
></app-recommended-playlist>
