@import "~@ionic/angular/css/core.css";

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Work+Sans:wght@200&display=swap");

//Headers font
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Roboto:wght@100&family=Varela+Round&family=Work+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

//Numbers
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

@import "~swiper/scss";
@import "~@ionic/angular/css/ionic-swiper";

:root {
  --ion-color-step-600: red;
}

.input-clear-icon.sc-ion-input-ios {
  background-image: url("/assets/icon/icon-close.svg");
}

ion-content {
  --background: #240712;
}

ion-header {
  background: #240712;
}

ion-list {
  background: #240712;
}

ion-toolbar {
  --background: #240712;
}

ion-item {
  --background: #240712;
  --border-color: #3a0018;
}

.list-md {
  background: #240712;
}

.list-ios {
  background: transparent;
}

.action-sheet-title.action-sheet-has-sub-title.sc-ion-action-sheet-ios {
  font-size: 25px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  background: #3a0018;
}

ion-fab-button {
  width: 35px;
  height: 35px;
}

ion-item-divider {
  background: transparent;
  min-height: 0;
  border-bottom: 1px solid #8fadf5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-fab-button {
  background: transparent;
  border-radius: 50%;
  box-shadow: 1.5px 1.5px 6px #000, -1.5px -1.5px 6px #444955;
}

.intro-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
