@import "~@ionic/angular/css/core.css";

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Work+Sans:wght@200&display=swap");

//Headers font
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&family=Roboto:wght@100&family=Varela+Round&family=Work+Sans:wght@200&display=swap");
// General font
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Varela+Round&display=swap");

@import "~swiper/scss";
@import "~@ionic/angular/css/ionic-swiper";

//#ff4961 crvena
//#28ffb9
ion-card {
  width: 80%;
  --background: rgba(0, 0, 0, 0.19);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

ion-content {
  --background: #121429;
}

ion-header {
  background: #121429;
}

ion-list {
  background: #121429;
}

ion-item {
  --background: #121429;
}

.list-md {
  background: #121429;
}

ion-fab-button {
  background: transparent;
  border-radius: 50%;
  box-shadow: 1.5px 1.5px 6px #000, -1.5px -1.5px 6px #444955;
}

.intro-header {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-image: url("./assets/images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}

.primary {
  padding: 1em 1.5em;
  width: 120px;
  display: flex;
  border-radius: 0;
  background: #10161c;
  justify-content: space-evenly;
  transition: all 0.4s ease;
  align-items: center;
  letter-spacing: 1px;
  background: #121921;
  box-shadow: 1.5px 1.5px 6px #000, -1.5px -1.5px 6px #444955;

  &:focus {
    box-shadow: inset 1.5px 1.5px 6px #000, inset -1.5px -1.5px 6px #444955;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
