form {
  height: 100%;

  .new-playlist {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;

    ion-input {
      color: #fff;
      font-family: "Varela Round", sans-serif;
      font-size: 18px;

      button {
        background: #fff;
      }
    }

    .ion-color-light {
      color: #fff;
      font-family: "Varela Round", sans-serif;
      transition: all 0.4s ease;
    }

    .item-has-focus {
      color: #fff;
      font-family: "Varela Round", sans-serif;
    }

    .new-playlist-action {
      margin-top: 25px;
    }
  }

  .errors {
    background: #ff7272;

    p {
      margin: 0;
      padding: 5px;
      font-size: 12px;
      letter-spacing: 0.3px;
      font-family: "Varela Round", sans-serif;
    }
  }
}

button {
  padding: 15px 25px;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 25px;
}

.cancel {
  background: #3a0018;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 1), -1px -1px 1px rgba(68, 73, 85, 0.7);
}

.success {
  background: #1ed760;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 1), -1px -1px 1px rgba(68, 73, 85, 0.7);
}
